.contact-page {
  min-height: 90vh; /* ارتفاع الصفحة ليملأ الشاشة تقريبًا */
  padding-top: 100px; /* مسافة من Navbar */
  padding-left: 60px; /* مسافة من يسار الصفحة */
  font-family: "Inter", sans-serif;
  position: relative;
  color: rgb(2, 56, 2);
  text-align: left; /* كل النصوص مصطفة على اليسار */
}

.contact-text {
  max-width: 600px; /* لتقليل طول السطور، يعطي فراغ جميل من اليمين */
}

.contact-text h3 {
  margin-bottom: 15px;
}

.red-heart {
  color: red;
  font-weight: bold;
}

.contact-title {
  margin-top: 15px;
  font-weight: 500;
}

.contact-list {
  list-style: none;
  padding-left: 15px;
  margin-top: 10px;
}

.contact-list li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 10px;
}

.contact-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #035226;
  font-size: 14px;
}

.contact-label {
  font-weight: 500;
}






