@import url('https://fonts.googleapis.com/css2?family=Lexend Giga:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi:wght@300;400;700&display=swap');
.heritage-card {
  display: flex;
  background-color: #70a16a; /* أخضر */
  border-radius: 20px;
  padding: 30px;
  margin: 30px 0;
  color: #243d2c;
  min-height: 350px;
}

.heritage-left {
  width: 50%;
  padding-right: 20px;
}

.heritage-right {
  width: 50%;
}

.heritage-image {
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.story-text {
  background-color: #ede6c8;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: Lexend;
  color: #243d2c  !important;
 
}

.story-btn {
  color: white !important;
  background-color: #2f5d3a!important;
 
}


.story-btn:active{
  background-color: #1f5f1f  !important;
  box-shadow: #2d4f2d  !important;
  outline: none;
}

/* عند الضغط */
.story-btn:active, 
.story-btn:focus {
  background-color: #1e4028 !important;
  box-shadow: 0 0 0 0.2rem rgba(47, 93, 58, 0.4) !important;
  outline: none !important;
}

/* Accordion */
.accordion-button {
  background-color: #a7c9a3 !important;
  color: #243d2c !important;
  font-weight: bold;
  border-radius: 10px !important;
}

.accordion-button:not(.collapsed) {
  background-color: #2f5d3a !important;
  color: white !important;
}

/* جسم الـ accordion */
.accordion-body {
  background-color: #ede6c8;
  color: #243d2c;
  border-radius: 0 0 12px 12px;
}

.her{
  font-family: "Trocchi";
  font-size: 38px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-weight: bolder;
}